body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.row-start {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: start;
}

.row-end {
	display: flex;
	flex-direction: row;
	justify-content: end;
	align-items: end;
}

.row-between-center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.row-center-start {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.row-center-end {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.row-start-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.row-end-center {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.cursor-pointer {
	cursor: pointer;
}
  